<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'Review', new_book_review_path(@book) %>

<hr>

<h2>All Reviews</h2>

<% @book.reviews.each do |review| %>

  <p>
    <%= review.body %> <br>
    by <%= review.user.email %>
  </p>

<% end %>

<hr>

<h2>All Review Users</h2>

<% @book.users.each do |user| %>
<%# The key to solving this issue was to put |user| between the vertical bars! %>
  <p>
    <%= user.email %>
  </p>

<% end %>
